.container {
  align-items: center;
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
}

.container h1 {
  font-size: 4vh;
}

.container p {
  font-size: 3vh;
  width: 100%;
}