.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 36px;
  margin-top: 10px;
  margin-bottom: 20px;
}

a {
  text-decoration: none; /* Remove underline */
}

a:visited, a:hover, a:focus, a:active {
  color: inherit; /* Remove purple color */
}

.left-side .logo {
  font-size: 3vh;
  margin-left: 2px;
}


.right-side button {
  border-radius: 8px;
  border: none;
  background-color: white;
  color: black;
  font-size: 4vh;
  font-weight: 500;
  cursor: pointer;
  padding: 2px 2px;
  margin-right: 4px;
}

/* Media query for larger smartphones */
@media only screen and (max-width: 480px) {

  .navbar-container {
    gap: 10px;
  }

  .left-side .logo {
    font-size: 3vh;
  }
  
  .right-side button {
    font-size: 3vh
  }

}

/* Media query for smaller smartphones */
@media only screen and (max-width: 320px) {
  .navbar-container {
    gap: 10px;
  }

  .left-side .logo {
    font-size: 2vh;
  }
  
  .right-side button {
    font-size: 2vh
  }
}